In [1]:
%load_ext sql

In [2]:
import os
import psycopg2
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY             = config.get('AWS','KEY')
SECRET          = config.get('AWS','SECRET')


ENDPOINT= config.get("CLUSTER","HOST")
DB= config.get("CLUSTER","DB_NAME")
DB_USER= config.get("CLUSTER","DB_USER")
DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
PORT = config.get("CLUSTER","DB_PORT")

LOG_DATA= config.get('S3', 'LOG_DATA')
IAM_ROLE= config.get('IAM_ROLE', 'ARN')
LOG_JSONPATH= config.get('S3', 'LOG_JSONPATH')

print(ENDPOINT, DB, DB_USER, DB_PASSWORD, PORT)
print(LOG_DATA, IAM_ROLE, LOG_JSONPATH)
print("{}".format(*config['IAM_ROLE'].values()))

redshift-cluster-1.cs4uqzanhli3.us-east-1.redshift.amazonaws.com dev awsuser Asmara2204 5439
s3://udacity-dend/log_data arn:aws:iam::257663166429:role/myRedshiftRole s3://udacity-dend/log_json_path.json
arn:aws:iam::257663166429:role/myRedshiftRole

In [3]:
import boto3

redshift = boto3.client('redshift',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [4]:
s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

In [5]:
redshift.describe_clusters()

{'Clusters': [{'ClusterIdentifier': 'redshift-cluster-1',
   'NodeType': 'dc2.large',
   'ClusterStatus': 'available',
   'MasterUsername': 'awsuser',
   'DBName': 'dev',
   'Endpoint': {'Address': 'redshift-cluster-1.cs4uqzanhli3.us-east-1.redshift.amazonaws.com',
    'Port': 5439},
   'ClusterCreateTime': datetime.datetime(2021, 6, 15, 13, 34, 12, 504000, tzinfo=tzlocal()),
   'AutomatedSnapshotRetentionPeriod': 1,
   'ClusterSecurityGroups': [],
   'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-08b65ccb516908e08',
     'Status': 'active'}],
   'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
     'ParameterApplyStatus': 'in-sync'}],
   'ClusterSubnetGroupName': 'default',
   'VpcId': 'vpc-5cd74321',
   'AvailabilityZone': 'us-east-1c',
   'PreferredMaintenanceWindow': 'sun:00:00-sun:00:30',
   'PendingModifiedValues': {},
   'ClusterVersion': '1.0',
   'AllowVersionUpgrade': True,
   'NumberOfNodes': 2,
   'PubliclyAccessible': True,
   'Encrypted': False,
   'ClusterPublicKey': 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCEtdzpO58Lyed+I6Q+dkLlA0b78FHQXqw40BBNFlADAo66AHYFABaPeJ9/osrxdhRRnV+cGbCA3rgVHTUVnie5C2AnD6IIHYe8nB0+8cI6A8cRa4ru83xN4tQKfCNtYjAaRl6cSyn2diTTVC7ik3dCQUlE9b7hOvTA/Kp/EXkEjdRkawRYEX71FCUfE51S9QvH2FD12bCDQqJMuFvSdbwEzXkuWPBwxalonLO3DPTXUMucxWJuzpahguIWpUABzHh1Wgj78DyezB86LYbwe9dD7kCMRlAAZmANGhSfhX5ZBUZiAICExuhv5F/ZS4fUkRAZh4YGlmAYP5biwfKYSGet Amazon-Redshift\n',
   'ClusterNodes': [{'NodeRole': 'LEADER',
     'PrivateIPAddress': '172.31.32.128',
     'PublicIPAddress': '44.193.110.83'},
    {'NodeRole': 'COMPUTE-0',
     'PrivateIPAddress': '172.31.34.153',
     'PublicIPAddress': '3.215.212.223'},
    {'NodeRole': 'COMPUTE-1',
     'PrivateIPAddress': '172.31.43.244',
     'PublicIPAddress': '174.129.10.100'}],
   'ClusterRevisionNumber': '26742',
   'Tags': [],
   'EnhancedVpcRouting': False,
   'IamRoles': [{'IamRoleArn': 'arn:aws:iam::257663166429:role/myRedshiftRole',
     'ApplyStatus': 'in-sync'}],
   'MaintenanceTrackName': 'current',
   'ElasticResizeNumberOfNodeOptions': '[4]'}],
 'ResponseMetadata': {'RequestId': 'aee9508d-1040-48ca-b62a-4f889fa873e3',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'aee9508d-1040-48ca-b62a-4f889fa873e3',
   'content-type': 'text/xml',
   'content-length': '4421',
   'vary': 'accept-encoding',
   'date': 'Tue, 15 Jun 2021 15:45:53 GMT'},
  'RetryAttempts': 0}}

In [6]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, ENDPOINT, PORT,DB)
print(conn_string)
%sql $conn_string

postgresql://awsuser:Asmara2204@redshift-cluster-1.cs4uqzanhli3.us-east-1.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

In [ ]:
qry = """
    SET search_path TO Sparkify;
    copy staging_events from 's3://udacity-dend/log_data/'
    credentials 'aws_iam_role={}'
    region 'us-west-2'
    json 's3://udacity-dend/log_json_path.json';
""".format(*config['IAM_ROLE'].values())
%sql $qry

In [ ]:
qry = """
    SET search_path TO Sparkify;
    copy staging_songs from 's3://udacity-dend/song_data/'
    credentials 'aws_iam_role={}'
    region 'us-west-2'
    STATUPDATE OFF
    json 'auto';
""".format(*config['IAM_ROLE'].values())
%sql $qry

In [7]:
qry = "SELECT * FROM dev.pg_catalog.stl_load_errors"
%sql $qry

 * postgresql://awsuser:***@redshift-cluster-1.cs4uqzanhli3.us-east-1.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [10]:
qry = "SELECT count(*) FROM dev.sparkify.staging_events"
%sql $qry

 * postgresql://awsuser:***@redshift-cluster-1.cs4uqzanhli3.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8056,)]

In [11]:
qry = "SELECT count(*) FROM dev.sparkify.staging_songs"
%sql $qry

 * postgresql://awsuser:***@redshift-cluster-1.cs4uqzanhli3.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [12]:
qry = "SELECT count(*) FROM dev.Sparkify.songplays"
%sql $qry

 * postgresql://awsuser:***@redshift-cluster-1.cs4uqzanhli3.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(819,)]

In [13]:
qry = "SELECT * FROM dev.Sparkify.songplays LIMIT 10"
%sql $qry

 * postgresql://awsuser:***@redshift-cluster-1.cs4uqzanhli3.us-east-1.redshift.amazonaws.com:5439/dev
10 rows affected.

[(6, datetime.datetime(2018, 11, 28, 23, 46, 49), 73, 'paid', 'SOUFWFG12AC9072C7E', 'ARL26PR1187FB576E5', 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (22, datetime.datetime(2018, 11, 16, 19, 45, 26), 36, 'paid', 'SOODHEW12A6D4F8E96', 'ARPAAHK1187B9ABB00', 461, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (38, datetime.datetime(2018, 11, 14, 18, 10, 2), 80, 'paid', 'SOBHGGX12A8AE45557', 'ARYAVBS1187FB5B46C', 574, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (54, datetime.datetime(2018, 11, 16, 10, 32, 2), 80, 'paid', 'SOCKYOP12A58A7C4EC', 'ARBG8621187FB54842', 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (70, datetime.datetime(2018, 11, 15, 12, 58, 38), 30, 'paid', 'SONZWDK12A6701F62B', 'ARL4UQB1187B9B74E3', 324, 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (86, datetime.datetime(2018, 11, 23, 0, 11), 66, 'free', 'SODHEKL12AB01838C7', 'ARJTYAT1187FB51ABA', 815, 'Harrisburg-Carlisle, PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (102, datetime.datetime(2018, 11, 26, 15, 26, 5), 88, 'paid', 'SOYGZDU12AB0189DE6', 'ARVNNXD1187B9AE50D', 900, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (118, datetime.datetime(2018, 11, 26, 13, 55, 17), 72, 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 381, 'Detroit-Warren-Dearborn, MI', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:30.0) Gecko/20100101 Firefox/30.0'),
 (134, datetime.datetime(2018, 11, 3, 18, 27, 16), 95, 'paid', 'SOGKLRH12AB0187E8A', 'ARVHQNN1187B9B9FA3', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (150, datetime.datetime(2018, 11, 21, 18, 29, 12), 97, 'paid', 'SOSMXVH12A58A7CA6C', 'AR6PJ8R1187FB5AD70', 817, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"')]

In [14]:
qry = "SELECT count(*) FROM dev.Sparkify.users"
%sql $qry

 * postgresql://awsuser:***@redshift-cluster-1.cs4uqzanhli3.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(104,)]

In [15]:
qry = "SELECT * FROM dev.Sparkify.users LIMIT 10"
%sql $qry

 * postgresql://awsuser:***@redshift-cluster-1.cs4uqzanhli3.us-east-1.redshift.amazonaws.com:5439/dev
10 rows affected.

[(69, 'Anabelle', 'Simpson', 'F', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (48, 'Marina', 'Sutton', 'F', 'free'),
 (80, 'Tegan', 'Levine', 'F', 'free'),
 (100, 'Adler', 'Barrera', 'M', 'free'),
 (50, 'Ava', 'Robinson', 'F', 'free'),
 (25, 'Jayden', 'Graves', 'M', 'paid'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (57, 'Katherine', 'Gay', 'F', 'free'),
 (16, 'Rylan', 'George', 'M', 'free')]

In [ ]:
qry = "SELECT count(*) FROM dev.Sparkify.songs"
%sql $qry

In [ ]:
qry = "SELECT * FROM dev.Sparkify.songs LIMIT 10"
%sql $qry

In [ ]:
qry = "SELECT count(*) FROM dev.Sparkify.artists"
%sql $qry

In [ ]:
qry = "SELECT * FROM dev.Sparkify.artists LIMIT 10"
%sql $qry

In [ ]:
qry = "SELECT count(*) FROM dev.Sparkify.time"
%sql $qry

In [ ]:
qry = "SELECT * FROM dev.Sparkify.time LIMIT 10"
%sql $qry

In [ ]:
qry = """
    Select u.u_first_name || ' ' || u.u_last_name as FullName  ,count(distinct sp.sp_song_id) as PlayCount
     FROM Sparkify.songplays sp
     JOIN Sparkify.users u
     on u.u_user_id=sp.sp_user_id
     group by FullName   
     order by PlayCount desc
     LIMIT 10
"""
%sql $qry